<!-- <div class="ui icon buttons toolbar">
    <a href="/#/applications/application_add" class="ui button mini green">
        <i class="add icon"></i>
        Add
    </a>
</div>
 -->

<div class="ui form" >
 <form id="uplpad"  enctype="multipart/form-data" action="http://172.16.12.32:8080/api/applications" method="POST">

<input type="text" id="input1" class="ui input" style="padding:0.35em 1em;width: 15%">

<a class="ui button mini gray" onclick="myfile.click();">
<i class="icon browser"></i>
browser
</a>

<input type="file" id="myfile" name="uploadyml" onchange="input1.value=this.value" style="display:none">
<input type="submit" class="ui button mini green" value="upload" />
<input type="reset" class="ui button mini black"  value="reset"/>

</form>
</div>


<div class="ui icon message" ng-show="applications.length === 0">
    <i class="info icon"></i>
    <div class="content">
        <div class="header">
            Applications
        </div>
        <p>There are no applications deployed.</p>
    </div>
</div>

<table class="ui sortable table segment" ng-show="applications">
    <thead>
        <tr>
            <th ng-class="sortedTableHeading1('id')" ng-click="selectSortColumn1('id')">ID</th>
            <th ng-class="sortedTableHeading1('name')" ng-click="selectSortColumn1('name')">Name</th>
            <th ng-class="sortedTableHeading1('description')" ng-click="selectSortColumn1('description')">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="c in applications | orderBy:orderByField:reverseSort" ng-click="go()" class="rowlink">
             <td>
                <a href="/#/applications/{{c.id}}">{{c.id|truncate}}</a>
            </td>
            <td>{{c.name}}</td>
            <td>{{c.description}}</td>
        </tr>
    </tbody>
</table>
